# PostgreSQL Configuration
POSTGRES_VERSION=18.0
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=database_name
POSTGRES_PORT=5432

# Redis Configuration
REDIS_VERSION=8.2
REDIS_USER=redis_user
REDIS_PASSWORD=redis_password
REDIS_PORT=6379
